// White (on Dark Blue Theme)
//
// White text on blue theme. Scoped is used so we can recycle
// Dynamic Views used in paragraphs.
//
// See g-links
// See g-lists
//
// Styleguide 5.3



%s-white-on-blue,
.s-white-on-blue {
  color: $white;

  h2,
  h3,
  h4,
  h5,
  h6,
  .g-link--headings {
    color: $white;
  }

  .l-masthead__panel .c-summary__link {
    color: palette(blue);
  }

  // c-summary--text

  .c-summary__date,
  .c-summary--text__date,
  .c-summary__date--dark {
    color: palette(blue, xxxlight);
  }

  .c-summary__link,
  .c-summary--text__link {
    color: $white;

    &:hover,
    &:visited,
    &:active {
      color: $white;
    }
  }

}

.s-white-on-blue--centered {
  @extend %s-white-on-blue;
  text-align: center;
}
