//
//
// markup:
// <a href="#" class="{$modifiers}">{$modifiers}</a>
//
// Styleguide 2.7


/*doc
---
title: Accordion
name: c100-accordion
category: Components - Accordion
---
Default Accordion is Grey w/ Plus Symbols. Used in <i>Basic Page</i>

Assumed 'js' and'no-js' class on body for fail / intialized states

```html_example
<div class="c-accordion" data-accordion="enabled" data-accordion-state='is-open'>

  <a class="c-accordion__label" href="#" data-accordion-component="label">
    <div class="c-accordion__label-text">Our independent advisor role</div>
    <div class="c-accordion__label-icon">
      <svg class="svg c-accordion__svg--expand"><use xlink:href="/svg/sprite-ui.svg#circle-arrow-down"></use></svg>
      <svg class="svg c-accordion__svg--collapse"><use xlink:href="/svg/sprite-ui.svg#circle-arrow-up"></use></svg>
    </div>
  </a>

  <div class="c-accordion__content" data-accordion-component="content">
    <div class="c-accordion__content-icon">
      <svg class="svg"><use xlink:href="/svg/sprite-ui.svg#megaphone"></use></svg>
    </div>
    <div class="c-accordion__content-body">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam eget lacus eget arcu molestie imperdiet volutpat a mauris. Nullam viverra fringilla neque, sit amet tristique turpis fringilla eget. Sed non quam diam. Nunc id purus at arcu sollicitudin semper. Cras eu ante odio. Maecenas dapibus luctus maximus. Cras quis sagittis lectus, quis ullamcorper ante. Nullam dictum nibh non erat commodo, eget consectetur magna ultricies. Nulla facilisi. Cras non aliquet sem, eget condimentum tortor. Curabitur vel fringilla mauris.</p>
    </div>
  </div>

</div>
```
*/

// Default Accordion is Grey w/ Plus Symbols
// Used in Basic Page

%c-accordion,
.c-accordion {
  clear: both;
  margin-bottom: ru(0.75);
}

// Common accordion elements
%c-accordion__label--core {
  @extend %u-clearfix;
  display: block;
  position: relative;
  outline: none;
  cursor: pointer;
  padding: ru(0.75) ru(3) ru(0.75) ru(0.75);
  text-transform: uppercase;
  text-decoration: none;
  font-family: $title-font-family;
}

%c-accordion__label,
.c-accordion__label {
  @extend %c-accordion__label--core;
  border: 1px solid palette(grey, xlight);
  background-color: palette(grey, xlight);
  color: palette(grey, dark);

  &:focus,
  &:hover,
  &:active {
    border-color: palette(grey);
    background-color: palette(grey, light);
  }
}

%c-accordion__label-icon--core {
  @include svg-centered (ru(1.5), ru(1.5), ru(2), ru(2));
  // Vertical center w/ Transform y
  position: absolute;
  top: 50%;
  right: ru(0.25);
  transform: translateY(-50%);
}

%c-accordion__label-icon,
.c-accordion__label-icon {
  @extend %c-accordion__label-icon--core;
  stroke: palette(grey, dark);
  fill: none;
}

%c-accordion__svg--expand,
.c-accordion__svg--expand {
  display: none;

  //STOP FOUC - js is running and it is not open - Show Icon
  .js .c-accordion:not([data-accordion-state='is-open']) &,
  .c-accordion[data-accordion-state='is-closed'] &,
  .no-js & {
    display: block;
  }
}

%c-accordion__svg--collapse,
.c-accordion__svg--collapse {
  display: none;

  .c-accordion[data-accordion-state='is-open'] & {
    display: block;
  }
}

%c-accordion__label-text,
.c-accordion__label-text {
  // pad top of text box to compensate for optical padding
  // Caused by using all caps DIN
  padding-top: ru(0.125);
}

%c-accordion__content,
.c-accordion__content {
  @extend %u-clearfix;
  position: relative;
  background-color: palette(grey, mediumlight);
  padding: ru(0.75);
  color: $white;

  // @ type-large pad left for Icon to appear in column
  @include respond-to(type-large) {
    padding: ru(1.5) ru(1.5) ru(1.5) ru(4);
  }

  //STOP FOUC - js is running and it is not open (doesn't need close state)
  .js .c-accordion:not([data-accordion-state='is-open']) &,
  .c-accordion[data-accordion-state='is-closed'] & {
    display: none;
  }
}

%c-accordion__content-icon,
.c-accordion__content-icon {
  @include svg-centered (ru(1.5), ru(1.5), ru(2.5), ru(2.5));
  float: left;
  margin: ru(0.25) ru(0.75) ru(0.75) 0;
  border: 2px solid $white;
  border-radius: 50%;
  stroke-width: 3px;
  fill: none;

  // @ type-large Absolute position icon in left column
  @include respond-to(type-large) {
    @include svg-centered (ru(1.5), ru(1.5), ru(2.5), ru(2.5));
    position: absolute;
    top: ru(1.5);
    left: ru(0.75);
  }
}

%c-accordion__content-body,
.c-accordion__content-body {
  @extend %u-remove-child--margin-top-bottom;
}

/*doc
---
title: Accordion
name: c105-accordion
category: Components - Accordion
---

State Variations

```html_example
<div class="js"> <!-- Style Guide Only - Added by JS dectection to body -->
  <div class="c-accordion" data-accordion="enabled" data-accordion-state='is-closed'>

    <a class="c-accordion__label" href="#" data-accordion-component="label">
      <div class="c-accordion__label-text">
        Is Closed: Risus Nullam Bibendum
      </div>
      <div class="c-accordion__label-icon">
        <svg class="svg c-accordion__svg--expand"><use xlink:href="/svg/sprite-ui.svg#circle-arrow-down"></use></svg>
        <svg class="svg c-accordion__svg--collapse"><use xlink:href="/svg/sprite-ui.svg#circle-arrow-up"></use></svg>
      </div>
    </a>

    <div class="c-accordion__content" data-accordion-component="content">
      <div class="c-accordion__content-icon">
        <svg class="svg"><use xlink:href="/svg/sprite-ui.svg#megaphone"></use></svg>
      </div>
      <div class="c-accordion__content-body">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam eget lacus eget arcu molestie imperdiet volutpat a mauris. Nullam viverra fringilla neque, sit amet tristique turpis fringilla eget. Sed non quam diam. Nunc id purus at arcu sollicitudin semper. Cras eu ante odio. Maecenas dapibus luctus maximus. Cras quis sagittis lectus, quis ullamcorper ante. Nullam dictum nibh non erat commodo, eget consectetur magna ultricies. Nulla facilisi. Cras non aliquet sem, eget condimentum tortor. Curabitur vel fringilla mauris.</p>
      </div>
    </div>

  </div>

  <div class="c-accordion" data-accordion="enabled" data-accordion-state='is-open'>

    <a class="c-accordion__label" href="#" data-accordion-component="label">
      <div class="c-accordion__label-text">
        Is Open: Ullamcorper Bibendum Dolor Vulputate Ridiculus
      </div>
      <div class="c-accordion__label-icon">
        <svg class="svg c-accordion__svg--expand"><use xlink:href="/svg/sprite-ui.svg#circle-arrow-down"></use></svg>
        <svg class="svg c-accordion__svg--collapse"><use xlink:href="/svg/sprite-ui.svg#circle-arrow-up"></use></svg>
      </div>
    </a>

    <div class="c-accordion__content" data-accordion-component="content">
      <div class="c-accordion__content-icon">
        <svg class="svg"><use xlink:href="/svg/sprite-ui.svg#megaphone"></use></svg>
      </div>
      <div class="c-accordion__content-body">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam eget lacus eget arcu molestie imperdiet volutpat a mauris. Nullam viverra fringilla neque, sit amet tristique turpis fringilla eget. Sed non quam diam. Nunc id purus at arcu sollicitudin semper. Cras eu ante odio. Maecenas dapibus luctus maximus. Cras quis sagittis lectus, quis ullamcorper ante. Nullam dictum nibh non erat commodo, eget consectetur magna ultricies. Nulla facilisi. Cras non aliquet sem, eget condimentum tortor. Curabitur vel fringilla mauris.</p>
      </div>
    </div>

  </div>

  <div class="c-accordion" data-accordion="enabled">

    <a class="c-accordion__label" href="#" data-accordion-component="label">
      <div class="c-accordion__label-text">
        JS Success, But Not Yet Initialized: Vulputate Tellus Cras
      </div>
      <div class="c-accordion__label-icon">
        <svg class="svg c-accordion__svg--expand"><use xlink:href="/svg/sprite-ui.svg#circle-arrow-down"></use></svg>
        <svg class="svg c-accordion__svg--collapse"><use xlink:href="/svg/sprite-ui.svg#circle-arrow-up"></use></svg>
      </div>
    </a>


    <div class="c-accordion__content" data-accordion-component="content">
      <div class="c-accordion__content-icon">
        <svg class="svg"><use xlink:href="/svg/sprite-ui.svg#megaphone"></use></svg>
      </div>
      <div class="c-accordion__content-body">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam eget lacus eget arcu molestie imperdiet volutpat a mauris. Nullam viverra fringilla neque, sit amet tristique turpis fringilla eget. Sed non quam diam. Nunc id purus at arcu sollicitudin semper. Cras eu ante odio. Maecenas dapibus luctus maximus. Cras quis sagittis lectus, quis ullamcorper ante. Nullam dictum nibh non erat commodo, eget consectetur magna ultricies. Nulla facilisi. Cras non aliquet sem, eget condimentum tortor. Curabitur vel fringilla mauris.</p>
      </div>
    </div>

  </div>

</div> <!-- End JS success class -->

<div class="no-js"> <!-- Style Guide Only - Added by JS Failed dectection to body -->
  <div class="c-accordion" data-accordion="enabled">

    <a class="c-accordion__label" href="#" data-accordion-component="label">
      <div class="c-accordion__label-text">
        JS failed: Vulputate Tellus Cras
      </div>
      <div class="c-accordion__label-icon">
        <svg class="svg c-accordion__svg--expand"><use xlink:href="/svg/sprite-ui.svg#circle-arrow-down"></use></svg>
        <svg class="svg c-accordion__svg--collapse"><use xlink:href="/svg/sprite-ui.svg#circle-arrow-up"></use></svg>
      </div>
    </a>


    <div class="c-accordion__content" data-accordion-component="content">
      <div class="c-accordion__content-icon">
        <svg class="svg"><use xlink:href="/svg/sprite-ui.svg#megaphone"></use></svg>
      </div>
      <div class="c-accordion__content-body">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam eget lacus eget arcu molestie imperdiet volutpat a mauris. Nullam viverra fringilla neque, sit amet tristique turpis fringilla eget. Sed non quam diam. Nunc id purus at arcu sollicitudin semper. Cras eu ante odio. Maecenas dapibus luctus maximus. Cras quis sagittis lectus, quis ullamcorper ante. Nullam dictum nibh non erat commodo, eget consectetur magna ultricies. Nulla facilisi. Cras non aliquet sem, eget condimentum tortor. Curabitur vel fringilla mauris.</p>
      </div>
    </div>

  </div>

</div>
```
*/

/*doc
---
title: Accordion
name: c106-accordion
category: Components - Accordion
---

```html_example
<div class="c-accordion" data-accordion="enabled">
  <a class="c-accordion__label" href="#" data-accordion-component="label">
    <div class="c-accordion__label-text">
      Accordion Content 2 Column (33-66%)
    </div>
    <div class="c-accordion__label-icon">
      <svg class="svg c-accordion__svg--expand"><use xlink:href="/svg/sprite-ui.svg#circle-arrow-down"></use></svg>
      <svg class="svg c-accordion__svg--collapse"><use xlink:href="/svg/sprite-ui.svg#circle-arrow-up"></use></svg>
    </div>
  </a>


  <div class="c-accordion__content" data-accordion-component="content">
    <div class="c-accordion__content-icon">
      <svg class="svg"><use xlink:href="/svg/sprite-ui.svg#megaphone"></use></svg>
    </div>
    <div class="c-accordion__content-body l-eq" data-eq-pts="2col: 400, 2col-33/66: 600">
      <div class="l-item content-text__info-wrapper">
        <p>Left Column Content</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam eget lacus eget arcu molestie imperdiet volutpat a mauris.</p>
      </div>

      <div class="l-item content-text__info-wrapper">
        <p>Right Column Content</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam eget lacus eget arcu molestie imperdiet volutpat a mauris.</p>
      </div>
    </div>
  </div>

</div>
```
*/
