/*doc
---
title: Inline Images
name: c-images
category: Base - Images
---

```html_example
<div class="sg__wrapper--img"><!-- Only used in style guide -->
  <h2>Align Left</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quis ipsum nec dui congue lacinia. Pellentesque pellentesque erat vitae nulla sollicitudin convallis. Curabitur vulputate nisi est, quis tempor elit tempor non. Interdum et malesuada fames ac ante ipsum primis in faucibus. </p>
  <img class="align-left" src="../img/Watch_automatic_mainspring.jpg">
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quis ipsum nec dui congue lacinia. Pellentesque pellentesque erat vitae nulla sollicitudin convallis. Curabitur vulputate nisi est, quis tempor elit tempor non. Interdum et malesuada fames ac ante ipsum primis in faucibus. </p>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quis ipsum nec dui congue lacinia. Pellentesque pellentesque erat vitae nulla sollicitudin convallis. Curabitur vulputate nisi est, quis tempor elit tempor non. Interdum et malesuada fames ac ante ipsum primis in faucibus. </p>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quis ipsum nec dui congue lacinia. Pellentesque pellentesque erat vitae nulla sollicitudin convallis. Curabitur vulputate nisi est, quis tempor elit tempor non. Interdum et malesuada fames ac ante ipsum primis in faucibus. </p>
</div>

<div class="sg__wrapper--img"><!-- Only used in style guide -->
  <h2>Align Right</h2><!-- Only used in style guide -->
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quis ipsum nec dui congue lacinia. Pellentesque pellentesque erat vitae nulla sollicitudin convallis. Curabitur vulputate nisi est, quis tempor elit tempor non. Interdum et malesuada fames ac ante ipsum primis in faucibus. </p>
  <img class="align-right" src="../img/Watch_automatic_mainspring.jpg">
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quis ipsum nec dui congue lacinia. Pellentesque pellentesque erat vitae nulla sollicitudin convallis. Curabitur vulputate nisi est, quis tempor elit tempor non. Interdum et malesuada fames ac ante ipsum primis in faucibus. </p>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quis ipsum nec dui congue lacinia. Pellentesque pellentesque erat vitae nulla sollicitudin convallis. Curabitur vulputate nisi est, quis tempor elit tempor non. Interdum et malesuada fames ac ante ipsum primis in faucibus. </p>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quis ipsum nec dui congue lacinia. Pellentesque pellentesque erat vitae nulla sollicitudin convallis. Curabitur vulputate nisi est, quis tempor elit tempor non. Interdum et malesuada fames ac ante ipsum primis in faucibus. </p>
</div>

<div class="sg__wrapper--img"><!-- Only used in style guide -->
  <h2>Align Center</h2><!-- Only used in style guide -->
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quis ipsum nec dui congue lacinia. Pellentesque pellentesque erat vitae nulla sollicitudin convallis. Curabitur vulputate nisi est, quis tempor elit tempor non. Interdum et malesuada fames ac ante ipsum primis in faucibus. </p>
  <img class="align-center" src="../img/Watch_automatic_mainspring.jpg">
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quis ipsum nec dui congue lacinia. Pellentesque pellentesque erat vitae nulla sollicitudin convallis. Curabitur vulputate nisi est, quis tempor elit tempor non. Interdum et malesuada fames ac ante ipsum primis in faucibus. </p>
</div>

```
*/

img,
figure {
  display: block;
}

%image-content {
  display: block;
  padding-top: ru(0.25);
  padding-bottom: ru(0.75);
  width: 100%;
  font-size: $base-font-size;
}

.image-content-full-width {
  @extend %image-content;
}

.image-content-half-width-left,
.align-left {
  @extend %image-content;

  @include respond-to('type-large') {
    float: left;
    margin-right: ru(0.5);
    padding-right: ru(0.5);
    width: 50%;
  }

  //Add if width changes @ breakpoints
  // @include respond-to('2-up') {
  //   width: 45%;
  // }

  // @include respond-to('max-size') {
  //   width: 35%;
  // }
}

.image-content-half-width-right,
.align-right {
  @extend %image-content;

  @include respond-to('type-large') {
    float: right;
    margin-left: ru(0.5);
    padding-left: ru(0.5);
    width: 50%;
  }

  //Add if width changes @ breakpoints
  // @include respond-to('2-up') {
  //   width: 45%;
  // }

  // @include respond-to('max-size') {
  //   width: 35%;
  // }
}

.image-content-half-width-center,
.align-center {
  @extend %image-content;

  @include respond-to('type-large') {
    margin: 0 auto;
    padding: 0 ru(0.5) ru(1);
    width: 50%;
  }

  //Add if width changes @ breakpoints
  // @include respond-to('2-up') {
  //   width: 45%;
  // }

  // @include respond-to('max-size') {
  //   width: 35%;
  // }
}
