.l-form__item label .focusable.pseudo-class-active,
.l-form__item label .focusable.pseudo-class-focus,
.l-form__item--med label .focusable.pseudo-class-active,
.l-form__item--med label .focusable.pseudo-class-focus,
.l-form__item--narrow label .focusable.pseudo-class-active,
.l-form__item--narrow label .focusable.pseudo-class-focus,
.l-form__item--wide label .focusable.pseudo-class-active,
.l-form__item--wide label .focusable.pseudo-class-focus,
.u-visually--hidden .focusable.pseudo-class-active,
.u-visually--hidden .focusable.pseudo-class-focus,
.visuallyhidden .focusable.pseudo-class-active,
.visuallyhidden .focusable.pseudo-class-focus {
  position: static;
  width: auto;
  clip: auto;
  margin: 0;
  overflow: visible;
  height: auto;
}

a.pseudo-class-active,
a.pseudo-class-hover {
  outline: 0;
}

.g-link--grey.pseudo-class-active,
.g-link--grey.pseudo-class-focus,
.g-link--grey.pseudo-class-hover,
a.pseudo-class-active,
a.pseudo-class-focus,
a.pseudo-class-hover {
  text-decoration: none;
}

.g-link--grey.pseudo-class-active,
.g-link--grey.pseudo-class-focus,
.g-link--grey.pseudo-class-hover {
  text-decoration: underline;
  color: #231f20;
}

button.pseudo-class-focus,
input[type=date].pseudo-class-focus,
input[type=datetime].pseudo-class-focus,
input[type=datetime-local].pseudo-class-focus,
input[type=email].pseudo-class-focus,
input[type=month].pseudo-class-focus,
input[type=number].pseudo-class-focus,
input[type=password].pseudo-class-focus,
input[type=search].pseudo-class-focus,
input[type=tel].pseudo-class-focus,
input[type=text].pseudo-class-focus,
input[type=time].pseudo-class-focus,
input[type=url].pseudo-class-focus,
input[type=week].pseudo-class-focus,
input[type=reset].pseudo-class-focus,
input[type=submit].pseudo-class-focus,
input[type=button].pseudo-class-focus,
select.pseudo-class-focus,
textarea.pseudo-class-focus {
  border-color: #231f20;
  background-color: #fff;
}

input[type=file].pseudo-class-active,
input[type=file].pseudo-class-focus,
input[type=radio].pseudo-class-active,
input[type=radio].pseudo-class-focus,
input[type=checkbox].pseudo-class-active,
input[type=checkbox].pseudo-class-focus {
  box-shadow: none;
}

tr.pseudo-class-focus,
tr.pseudo-class-hover {
  background-color: #e6e7e8;
}

tr.pseudo-class-focus td,
tr.pseudo-class-hover td {
  border-right-color: #939598;
  border-left-color: #afafaf;
}

.c-btn--left.pseudo-class-active,
.c-btn--left.pseudo-class-focus,
.c-btn--left.pseudo-class-hover,
.c-btn--right.pseudo-class-active,
.c-btn--right.pseudo-class-focus,
.c-btn--right.pseudo-class-hover,
.c-btn--thin.pseudo-class-active,
.c-btn--thin.pseudo-class-focus,
.c-btn--thin.pseudo-class-hover,
.c-btn.pseudo-class-active,
.c-btn.pseudo-class-focus,
.c-btn.pseudo-class-hover,
button.pseudo-class-active,
button.pseudo-class-focus,
button.pseudo-class-hover,
input[type=reset].pseudo-class-active,
input[type=reset].pseudo-class-focus,
input[type=reset].pseudo-class-hover,
input[type=submit].pseudo-class-active,
input[type=submit].pseudo-class-focus,
input[type=submit].pseudo-class-hover,
input[type=button].pseudo-class-active,
input[type=button].pseudo-class-focus,
input[type=button].pseudo-class-hover {
  border-color: #939598;
  background-color: #f1f2f2;
}

.c-btn--blue.pseudo-class-active,
.c-btn--blue.pseudo-class-focus,
.c-btn--blue.pseudo-class-hover,
.c-btn--thin-blue.pseudo-class-active,
.c-btn--thin-blue.pseudo-class-focus,
.c-btn--thin-blue.pseudo-class-hover {
  border-color: #2b3078;
  background-color: #2b3078;
}

.c-btn--left.pseudo-class-active,
.c-btn--left.pseudo-class-focus,
.c-btn--left.pseudo-class-hover,
.c-btn--right.pseudo-class-active,
.c-btn--right.pseudo-class-focus,
.c-btn--right.pseudo-class-hover {
  background-color: #f1f2f2;
  color: #939598;
}

.c-nav--vertical__link.pseudo-class-active,
.c-nav--vertical__link.pseudo-class-focus,
.c-nav--vertical__link.pseudo-class-hover {
  background-color: #f1f2f2;
  color: #231f20;
}

.c-nav--horizontal__link.pseudo-class-active,
.c-nav--horizontal__link.pseudo-class-focus,
.c-nav--horizontal__link.pseudo-class-hover {
  text-decoration: underline;
  color: #231f20;
}

.c-nav--inline a.pseudo-class-active,
.c-nav--inline a.pseudo-class-focus,
.c-nav--inline a.pseudo-class-hover {
  text-decoration: underline;
  color: #231f20;
}

.c-tabs a.pseudo-class-active,
.c-tabs a.pseudo-class-focus,
.c-tabs a.pseudo-class-hover {
  background-color: #fff;
}

.c-accordion__label.pseudo-class-active,
.c-accordion__label.pseudo-class-focus,
.c-accordion__label.pseudo-class-hover {
  border-color: #939598;
  background-color: #e6e7e8;
}

.c-accordion__content>.pseudo-class-first-child,
.l-form--filter>.pseudo-class-first-child,
.l-form>.pseudo-class-first-child,
.l-page__content-main>.pseudo-class-first-child,
.u-remove-child--margin-top-bottom>.pseudo-class-first-child,
.u-remove-child--margin-top>.pseudo-class-first-child {
  margin-top: 0;
}

.c-accordion__content>.pseudo-class-last-child,
.l-form--filter>.pseudo-class-last-child,
.l-form>.pseudo-class-last-child,
.l-page__content-main>.pseudo-class-last-child,
.u-remove-child--margin-bottom>.pseudo-class-last-child,
.u-remove-child--margin-top-bottom>.pseudo-class-last-child {
  margin-bottom: 0;
}