// Form Layout
//
// <pre>2 Column Form Layout       =>  %l-form--2col</pre>
// <pre> - Default Item > 100% width  =>  %l-form__item</pre>
// <pre> - Wide Item > 75% width      =>  %l-form__item--wide</pre>
// <pre> - Med Item > 50% width       =>  %l-form__item--med</pre>
// <pre> - Narrow Item > 25% width    =>  %l-form__item--narrow</pre>
//
// Markup: _l-form.html
//
// Styleguide 3.3

%l-form__item--core {
  float: left;
  width: 100%;
}

%l-form,
.l-form {
  @extend %u-remove-child--margin-top-bottom;
  margin: 0 ru(-0.25);

  .g-form-actions {
    margin: 0 ru(0.25);
  }
}

%l-form__item,
.l-form__item {
  @extend %l-form__item--core;
  padding: 0 ru(0.25);

  input,
  select,
  textarea,
  button,
  optgroup {
    width: 100%;
  }

  label {
    @extend %u-visually--hidden;
  }
}

%l-form__item--wide,
.l-form__item--wide {
  @extend %l-form__item;
}

%l-form__item--med,
.l-form__item--med {
  @extend %l-form__item;
}

%l-form__item--narrow,
.l-form__item--narrow {
  @extend %l-form__item;
}

%l-form__item--no-top-margin,
.l-form__item--no-top-margin {
  input,
  select,
  textarea,
  button,
  optgroup {
    margin-top: 0;
  }
}

%l-form--2col,
.l-form[data-eq-state='2cols'] {
  @extend %l-form;

  .l-form__item--wide {
    @extend %l-form__item;
    width: 75%;
  }

  .l-form__item--med {
    @extend %l-form__item;
    width: 50%;
  }

  .l-form__item--narrow {
    @extend %l-form__item;
    width: 25%;
  }
}

// Honey Pot Class - Display none so spam bots fill it out, but not people
%l-form__foo-bar,
.l-form__foo-bar {
  display: none;
}

%l-form__actions,
.l-form .l-form-actions,
.g-form-actions {
  @extend %u-clearfix;
  clear: both;
}

%l-form--filter,
.l-form--filter {
  @extend %l-form;
  @extend %l-form__actions;
  margin: 0;
  padding: ru(1) ru(0.75);

  @include respond-to('expanded-wrapper') {
    padding: ru(1) ru(1.25);
  }

  @include respond-to('full-nav') {
    padding: ru(1) ru(2.25);
  }
}

%l-form--filter-2col,
.l-form--filter[data-eq-state='2cols'] {
  @extend %l-form--2col;
  @extend %l-form--filter;
}
