// Images
//
// Inline Image Styles
//
// **Core Extendables:**
//
// <pre>%image-content<pre>
//
// Styleguide 1.9


img,
figure {
  display: block;
}

// Core Extendables
%image-content {
  display: block;
  padding-top: ru(0.25);
  padding-bottom: ru(0.75);
  width: 100%;
  font-size: $base-font-size;
}

// Default Image Style
.image-content-full-width {
  @extend %image-content;
}

// Import Variations
@import 'g-image--left';
@import 'g-image--right';
@import 'g-image--center';
