// Images
//
// Inline Image Styles (User Generated content is WYSIWYG / Markdown editor)
//
// **Core Extendables:**
// <pre>%image-content<pre>
//
// Default Image (full width)
//
// Markup: _g-image.html
//
// Styleguide 1.9


img,
figure {
  display: block;
}

// Core Extendables
%g-image--core {
  display: block;
  padding-top: ru(0.25);
  padding-bottom: ru(0.75);
  width: 100%;
  font-size: $base-font-size;
}

// Default img / figure Style
.g-image {
  @extend %g-image--core;
}


.g-image figcaption {
  background-color: palette(grey, xlight);
  padding: ru(0.25) ru(0.5);
  font-style: italic;
}

// Import Variations
@import 'g-image--left';
@import 'g-image--right';
@import 'g-image--center';
