// Center Aligned Images
//
// Center Aligned Inline Image Styles
//
// Markup: _g-image--center.html
//
// Styleguide 1.9.3

.image-content-half-width-center,
.align-center {
  @extend %g-image--core;

  @include respond-to('type-large') {
    margin: 0 auto;
    padding: 0 ru(0.5) ru(1);
    width: 50%;
  }

  //Add if width changes @ breakpoints
  // @include respond-to('2-up') {
  //   width: 45%;
  // }

  // @include respond-to('max-size') {
  //   width: 35%;
  // }
}
