<div class="c-accordion" data-accordion-component="accordion" data-accordion-state='is-open'>

  <a class="c-accordion__label {$modifiers}" href="#" data-accordion-component="label">
    <div class="c-accordion__label-text">Lorem ipsum dolor sit amet</div>
    <div class="c-accordion__label-icon">
      <svg class="g-svg c-accordion__svg--expand"><use xlink:href="/svg/sprite-ui.svg#circle-arrow-down"></use></svg>
      <svg class="g-svg c-accordion__svg--collapse"><use xlink:href="/svg/sprite-ui.svg#circle-arrow-up"></use></svg>
    </div>
  </a>

  <div class="c-accordion__content" data-accordion-component="content">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam eget lacus eget arcu molestie imperdiet volutpat a mauris. Nullam viverra fringilla neque, sit amet tristique turpis fringilla eget. Sed non quam diam. Nunc id purus at arcu sollicitudin semper. Cras eu ante odio. Maecenas dapibus luctus maximus. Cras quis sagittis lectus, quis ullamcorper ante. Nullam dictum nibh non erat commodo, eget consectetur magna ultricies. Nulla facilisi. Cras non aliquet sem, eget condimentum tortor. Curabitur vel fringilla mauris.</p>
  </div>
</div>
