// Breakpoints and Grid Variables

// Breakpoint Variables

$breakpoint-no-query-fallbacks: true;
$breakpoint-to-ems: true;

// Don't forget to update the theme .info file breakpoints!

// $bp-sml: 380px;
$bp-med: 768px;
$bp-lrg: 1024px;
$bp-max: 1200px;


// Range Breakpoints
//
// $bp-default-to-sml: 0 ($bp-med - 1px);
// $bp-default-to-med: 0 ($bp-lrg - 1px);
$bp-med-to-lrg: $bp-med ($bp-lrg - 1px);
//$bp-sml-to-max: $bp-sml $bp-huge;

// Singularity Variables
// https://github.com/Team-Sass/Singularity/wiki/Creating-Grids
//


//Defines default 2 column grid
@include add-grid(6);
// @include add-grid(1 2 at $bp-med);
// @include add-grid(2 4 1 at $bp-lrg);
@include add-gutter-style('fixed');
@include add-gutter-style('split');
@include add-gutter(0);



// // Must enable debug setting
// @include sgs-change('debug', true);
