// Pager
//
// markup: _c-pager.html
//
// Styleguide 2.5

.c-pager {
  @extend %u-clearfix;
  padding: ru(1) 0;
  text-align: center;

  @include respond-to('type-large') {
    padding-right: ru(1);
    padding-left: ru(1);
  }

  @include respond-to('full-nav') {
    padding-right: ru(0.5);
    padding-left: ru(0.5);
  }

  @include respond-to('max-size') {
    padding-right: 0;
    padding-left: 0;
  }
}

%c-pager__item-btn {
  display: inline-block;
  padding: 0 ru(1);
}

.c-pager__item-current {
  @extend %c-pager__item-btn;
}

.c-pager__item-prev {
  @extend %c-pager__item-btn;
}

.c-pager__item-next {
  @extend %c-pager__item-btn;
}
