<div class="c-pager">
  <div class="c-pager__item-prev">
      <a class="c-btn" href="#" title="Prev" rel="prev">
        <span class="u-visually--hidden">Previous page</span>
        <span aria-hidden="true">Prev</span>
      </a>
  </div>
  <div class="c-pager__item-current">
    Page 2
  </div>

  <div class="c-pager__item-next">
    <a class="c-btn" href="#" title="Next" rel="next">
      <span class="u-visually--hidden">Next page</span>
      <span aria-hidden="true">Next</span>
    </a>
  </div>
</div>
