// Variables Partials
//
// All of your variables should go in this file.


// Legacy IE support
//
// These variables are used by many mixins to add additional CSS to support
// specific versions of IE or specific vendor prefixes.
//
// To turn on support for IE6 or IE7, set those variables to true.
//
// These variables are used throughout compass, but specifically within the
// compass-normalize extension.
// /
$legacy-support-for-ie6: false;
$legacy-support-for-ie7: false;
$legacy-support-for-ie8: false;

// Normalize.scss
$strict-normalize: false;


// Font faces, stacks and sizes.
$base-font-size:   15px;
$base-line-height: 23px;

// $relative-font-sizing: true;
$round-to-nearest-half-line: true;

// Default Font Sizes
$xsmall-font-size: 11.5px;
$small-font-size: 13px;
$medium-font-size: 17px;
$large-font-size: 19px;
$xlarge-font-size: 23px;
$xxlarge-font-size: 28px;
// Size at Breakpoint LRG
$xxlarge-font-size--bp-lrg: 34px;
$xxxlarge-font-size: 34px;
// Size at Breakpoint LRG
$xxxlarge-font-size--bp-lrg: 42px;

//Default Size
$h1-font-size: 36px;
// Size at Breakpoint LRG
$h1-font-size--bp-lrg: 52px;
// Front Page is larger at breakpoing LRG
$h1-front-font-size--bp-lrg: 56px;


$h2-font-size: 28px;
$h2-font-size--bp-lrg: 32px;
$h2-front-font-size--bp-lrg: 36px;

$h3-font-size: $xlarge-font-size;
$h4-font-size: $large-font-size;
$h5-font-size: $medium-font-size;
$h6-font-size: $base-font-size;

// Font stacks.
$body-font: 'PostGrotesk', sans-serif;
$title-font: $body-font;
$title-font-weight: bold;

//Vertical Rythm Unit
$ru: rem($base-line-height);

// Compass Variables (Imported Manually from from compass)
$rhythm-unit: 'rem';
$round-to-nearest-half-line: true;
