// MASTHEAD -- CORE
////////////////
%masthead__picture--core {

  @include breakpoint ($bp-sml) {
    max-width: none;
  }

  @include breakpoint($bp-sml-med) {
    $image-width: 768px;
    position: relative;
    left: 50%;
    margin-left: rem((-1 * $image-width) / 2);
    width: rem($image-width);
  }

  @include breakpoint($bp-med) {
    $image-width: 1024px;
    margin-left: rem((-1 * $image-width) / 2);
    width: rem($image-width);
  }

  @include breakpoint($bp-lrg) {
    $image-width: 1610px;
    margin-left: rem((-1 * $image-width) / 2);
    width: rem($image-width);
  }
}

%masthead__content--core {

  @include breakpoint($bp-sml-med) {
    position: relative;
    z-index: 1;
  }
}

// MASTHEAD
///////////
// %masthead,
// .masthead {

// }

%masthead__image-wrapper,
.masthead__image-wrapper {
  background-color: $grey-dark;
  overflow: hidden;
}

%masthead__picture,
.masthead__image-wrapper picture {
  @extend %masthead__picture--core;

  @include breakpoint($bp-sml-med) {
    height: ru(15);
  }

  @include breakpoint($bp-med) {
    height: ru(21);
  }

  @include breakpoint($bp-lrg) {
    height: ru(23);
  }
}

%masthead__img,
.masthead__image-wrapper img {
  width: 100%;
  max-width: none;
}

%masthead__content,
.masthead__content {
  @extend %masthead__content--core;
  @extend %clearfix;
  padding-right: ru(0.5);
  padding-left: ru(0.5);

  @include breakpoint($bp-sml-med) {
    margin: ru(-15) auto 0 auto;
    padding: ru(1);
    max-width: $bp-max;
    min-height: ru(15);
  }

  @include breakpoint($bp-med) {
    margin-top: ru(-21);
    min-height: ru(21);
  }

  @include breakpoint($bp-lrg) {
    margin-top: ru(-23);
    padding-bottom: ru(3); // Leaving space for tabs.
    min-height: ru(23);
  }
}

// Additional Padding for mastheads inside carousel
// See components/carousel.scss

%masthead__content--narrow,
.masthead__content--narrow {
  @extend %masthead__content;

  @include breakpoint($bp-lrg) {
    padding-right: ru(5);
    padding-left: ru(5);
  }
}

%masthead__title,
.masthead__title {
  @extend %h1;
  margin-top: 0;

  @include breakpoint($bp-sml-med) {
    color: $white;
  }
}

%masthead--front__title,
.front .masthead__title,
.node-type-slideshow .masthead__title,
.node-type-slide .masthead__title {
  margin-top: ru(0.75);

  @include breakpoint($bp-med) {
    margin-top: ru(2);
  }

  @include breakpoint($bp-lrg) {
    @include adjust-font-size-to($h1-front-font-size--bp-lrg);
  }
}

%masthead__menu,
.masthead__menu {
  display: none;

  @include breakpoint($bp-lrg) {
    display: block;
  }
}

%masthead__menu-title,
.masthead__menu h2 {
  @extend %h3;
  @extend %t--white;
  margin-top: 0;
  padding-left: ru(0.25);
}

%masthead__menu-list,
.masthead ul {
  @extend %list--blank;
}

%masthead__menu-item,
.masthead__menu li {
  border-bottom: 1px solid $white;

  &:first-child {
    border-top: 1px solid $white;
  }
}

%masthead__menu-btn,
.masthead__menu a {
  @extend %t--medium;
  @extend %link--white-red;
  display: block;
  padding-top: ru(0.25);
  padding-bottom: ru(0.20652173913); // subtract 1px border
  padding-left: ru(0.25);

  // &:hover,
  // &:focus,
  // &:active {
  //   background-color: rgba($black, 0.5);
  //   text-decoration: none;
  // }
}

%l-masthead__middle-wrapper,
.l-masthead__middle-wrapper {
  @extend %clearfix;
  padding-bottom: ru(1);

  @include breakpoint($bp-sml-med) {
    min-height: ru(7);
  }

  @include breakpoint($bp-med) {
    min-height: ru(10);
  }

  @include breakpoint($bp-lrg) {
    min-height: ru(10.5);
  }
}

%masthead__info,
.masthead__info {
  @extend %clearfix;
  @extend %t--white;
  background-color: rgba($black, 0.85);

  @include breakpoint($bp-sml-med) {
    min-height: ru(6);
  }
}

%masthead--front__info,
.front .masthead__info,
.node-type-slideshow .masthead__info,
.node-type-slide .masthead__info {
  background-color: transparent;
  padding-bottom: ru(1);
  min-height: ru(7);
}

.masthead__info-button,
.masthead__info > .btn--action {
  margin-top: ru(0.25);
}

%masthead__headline,
.masthead__headline {
  @extend %t--xxlarge;
  margin: 0;
  font-weight: normal;
}

%masthead__subheadline,
.masthead__subheadline {
  @include adjust-font-size-to($h2-font-size--bp-lrg);
  margin: 0;
  font-weight: normal;

  @include breakpoint($bp-lrg) {
    @include adjust-font-size-to($xxxlarge-font-size);
  }
}

%masthead__summary,
.masthead__summary {
  @extend %t--medium;
}

%masthead__summary--front,
.front .masthead__summary,
.node-type-slideshow .masthead__summary,
.node-type-slide .masthead__summary {
  @extend %t--medium-xlineheight;
  margin-bottom: ru(1);
  color: $grey-xdark;

  @include breakpoint($bp-sml-med) {
    color: $white;
  }

  @include breakpoint($bp-med-lrg) {
    width: 50%;
  }

  @include breakpoint($bp-lrg) {
    @include adjust-font-size-to($large-font-size, 1.25);
  }
}

%masthead__action,
.masthead__action {
  margin-bottom: ru(0.25);
}

%masthead__btn--action-lrg-icon,
.masthead__action a {
  @extend %btn--action-lrg-icon;
  display: block;
  padding-right: ru(0.5);
}

// Hide Live chat button by default, JS will display.
%masthead__btn--action-live-chat,
.masthead__action [data-enercare-id="chatlink"] {
  display: none;
}

/*doc
---
title: Masthead
name: a-masthead
category: Components - Masthead
---

<p>Masthead with all fields filled out.</p>

```html_example
<div class="masthead styleguide__masthead_full">
  <div class="masthead__image-wrapper">
    <picture>
      <img typeof="foaf:Image" src="../img/fpo--banner.jpg" alt="Masthead image" title="">
    </picture>
  </div>
  <div class="masthead__content">
    <div class="l-masthead__middle-wrapper">
      <div class="l-masthead__middle masthead--has-aside">
        <h2 class="masthead__title">Worried about that old furnace? Warm up to a new one</h2>
      </div>
      <div class="l-masthead__middle-aside">
        <div class="masthead__menu">
          <h2>Furnace</h2>
          <ul class="menu">
            <li class="first leaf menu-mlid-6831 level-3">
              <a href="/home/furnace/worried-about-old-furnace-warm-new-one" class="active-trail active">Rent Furnace</a>
            </li>
            <li class="leaf menu-mlid-3821 level-3">
              <a href="/home/furnace/feeling-chill-warm-new-furnace-winter">Buy Furnace</a>
              </li>
            <li class="leaf menu-mlid-6836 level-3">
              <a href="/home/equipment-protection/regular-maintenance-can-save-more-money">Maintain Furnace</a>
            </li>
            <li class="last leaf menu-mlid-13226 level-3">
              <a href="/node2/1611214">Repair Furnace</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="masthead__info">
      <div class=" l-masthead__bottom-prefix">
        <h1 class="masthead__headline">Worried about that old furnace? Warm up to a new one</h1>
      </div>
      <div class="l-masthead__bottom">
        <div class="masthead__summary">
          When it comes time to replace that old, unreliable, or broken furnace - choose a provider you can trust. Let our Energy Management Consultants help you make the right choice for you and your family’s home comfort needs with our competitively-priced rental options.
        </div>
      </div>

      <div class="l-masthead__bottom-suffix">
        <div class="masthead__action">
            <a href="tel:1 855-836-4282"><svg class="btn--icon-inline__svg"><use xlink:href="/sites/all/themes/enercare/svg/sprite-ui.svg#tel--outline"></use></svg>1 855-836-4282</a>
          </span>
        </div>
        <div class="masthead__action">
            <a href="tel:1 855-836-4282"><svg class="btn--icon-inline__svg"><use xlink:href="/sites/all/themes/enercare/svg/sprite-ui.svg#text-bubbles--outline"></use></svg>Live Chat</a>
          </span>
        </div>
        <div class="masthead__action">
            <a href="tel:1 855-836-4282"><svg class="btn--icon-inline__svg"><use xlink:href="/sites/all/themes/enercare/svg/sprite-ui.svg#pencil"></use></svg>Free In-Home Visit</a>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
```

<p>Masthead with no summary.</p>

```html_example
<div class="masthead styleguide__masthead_2col">
  <div class="masthead__image-wrapper">
    <picture>
      <img typeof="foaf:Image" src="../img/fpo--banner.jpg" alt="Masthead image" title="">
    </picture>
  </div>
  <div class="masthead__content">
    <div class="l-masthead__middle-wrapper">
      <div class="l-masthead__middle masthead--has-aside">
        <h2 class="masthead__title">Worried about that old furnace? Warm up to a new one</h2>
      </div>
      <div class="l-masthead__middle-aside">
        <div class="masthead__menu">
          <h2>Furnace</h2>
          <ul class="menu">
            <li class="first leaf menu-mlid-6831 level-3">
              <a href="/home/furnace/worried-about-old-furnace-warm-new-one" class="active-trail active">Rent Furnace</a>
            </li>
            <li class="leaf menu-mlid-3821 level-3">
              <a href="/home/furnace/feeling-chill-warm-new-furnace-winter">Buy Furnace</a>
              </li>
            <li class="leaf menu-mlid-6836 level-3">
              <a href="/home/equipment-protection/regular-maintenance-can-save-more-money">Maintain Furnace</a>
            </li>
            <li class="last leaf menu-mlid-13226 level-3">
              <a href="/node2/1611214">Repair Furnace</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="masthead__info">
      <div class=" l-masthead__bottom-prefix--2col">
        <h1 class="masthead__headline">Tips for keeping your home just the way you like it.</h1>
      </div>

      <div class="l-masthead__bottom-suffix">
        <div class="masthead__action">
            <a href="tel:1 855-836-4282"><svg class="btn--icon-inline__svg"><use xlink:href="/sites/all/themes/enercare/svg/sprite-ui.svg#tel--outline"></use></svg>1 855-836-4282</a>
          </span>
        </div>
        <div class="masthead__action">
            <a href="tel:1 855-836-4282"><svg class="btn--icon-inline__svg"><use xlink:href="/sites/all/themes/enercare/svg/sprite-ui.svg#text-bubbles--outline"></use></svg>Live Chat</a>
          </span>
        </div>
        <div class="masthead__action">
            <a href="tel:1 855-836-4282"><svg class="btn--icon-inline__svg"><use xlink:href="/sites/all/themes/enercare/svg/sprite-ui.svg#pencil"></use></svg>Free In-Home Visit</a>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>

```

*/

%masthead--tall,
.masthead--tall {
  margin-bottom: ru(1);
  background-color: $white;

  @include breakpoint($bp-sml-med) {
    background-color: $grey-xxxdark;
    min-height: ru(19);
  }

  @include breakpoint($bp-med) {
    min-height: ru(26);
    padding-bottom: ru(6);
  }

  @include breakpoint($bp-lrg) {
    min-height: ru(29);
    padding-bottom: ru(8);
  }
}

%masthead--tall__image-wrapper,
.masthead--tall__image-wrapper {
  @extend %masthead__image-wrapper;
}

%masthead--tall__picture,
.masthead--tall__image-wrapper picture {
  @extend %masthead__picture--core;

  @include breakpoint($bp-sml-med) {
    height: ru(19);
  }

  @include breakpoint($bp-med) {
    height: ru(26);
  }

  @include breakpoint($bp-lrg) {
    height: ru(29);
  }
}

%masthead--tall__content,
.masthead--tall__content {
  @extend %masthead__content--core;

  @include breakpoint($bp-sml-med) {
    margin-top: ru(-19);
    padding: ru(1);
    color: $white;
  }

  @include breakpoint($bp-med) {
    margin-top: ru(-26);
  }

  @include breakpoint($bp-lrg) {
    margin: ru(-29) auto 0 auto;
    max-width: $bp-max;
  }
}

%masthead--tall__content-main,
.masthead--tall__content-main {
  @extend %content-helper--remove-both-child-margins;
  padding: ru(0.5);

  @include breakpoint($bp-sml-med) {
    margin-bottom: ru(1);
    padding: 0;
  }

  @include breakpoint($bp-med) {
    padding-right: ru(14);
    max-width: ru(36);
  }
}

%masthead--tall__title,
.masthead--tall__title {
  margin-top: 0;
}

%masthead--tall__summary,
.masthead--tall__summary {
  @extend %t--medium-xlineheight;

  @include breakpoint($bp-lrg) {
    @include adjust-font-size-to($large-font-size, 1.25);
  }
}

%masthead--tall__content-aside,
.masthead--tall__content-aside {
  @extend %content-helper--remove-both-child-margins;
  position: relative;
  display: none;
  border-bottom: ru(1) solid $red;
  background-color: $grey-xxxdark;
  padding: ru(0.5);
  margin-bottom: ru(1);
  text-align: center;
  color: $white;

  @include breakpoint($bp-sml-med) {
    position: relative;
    z-index: 1;
    background-color: rgba($grey-xxxdark, 0.6);
    width: ru(11.25);
  }

  @include breakpoint($bp-med) {
    display: block;
    position: absolute;
    top: 0;
    right: ru(1);
  }
}

%masthead--tall__icon,
.masthead--tall__icon {
  margin: ru(0.25) 0;
  color: $red;
}

%masthead--tall__subheadline-1,
.masthead--tall__subheadline-1 {
  @extend %t--medium;
  margin: ru(0.25) 0;
  font-weight: normal;
}

%masthead--tall__subheadline-2,
.masthead--tall__subheadline-2 {
  @extend %t--xxlarge;
  margin: ru(0.25) 0;
}

%masthead--tall__subheadline-3,
.masthead--tall__subheadline-3 {
  @extend %masthead--tall__subheadline-1;
}

%masthead--tall__indicator,
.masthead--tall__indicator {
  @include triangle($red, ru(1.5), ru(3), 180);
  position: absolute;
  bottom: ru(-2.4);
  left: 50%;
  margin-left: ru(-1.5);
}

/*doc
---
title: Masthead Tall
name: b-masthead
category: Components - Masthead
---

```html_example
<div class="masthead--tall">
  <div class="masthead--tall__image-wrapper">
    <picture>
      <!--[if IE 9]><video style="display: none;"><![endif]-->
      <source srcset="http://enercare.dev/sites/default/files/styles/masthead_tall_lrg_x1/public/assets/landing-page/banner-image/1733411-test-landing-page/fpolandingbanner.jpg?itok=1QV-dQou&amp;timestamp=1440518446 1x, http://enercare.dev/sites/default/files/styles/masthead_tall_lrg_x2/public/assets/landing-page/banner-image/1733411-test-landing-page/fpolandingbanner.jpg?itok=5-KErisV&amp;timestamp=1440518446 2x" media="(min-width: 64em)">
      <source srcset="http://enercare.dev/sites/default/files/styles/masthead_tall_med_x1/public/assets/landing-page/banner-image/1733411-test-landing-page/fpolandingbanner.jpg?itok=Hg0f3B2_&amp;timestamp=1440518446 1x, http://enercare.dev/sites/default/files/styles/masthead_tall_med_x2/public/assets/landing-page/banner-image/1733411-test-landing-page/fpolandingbanner.jpg?itok=-Ztkk0PB&amp;timestamp=1440518446 2x" media="(min-width: 48em)">
      <source srcset="http://enercare.dev/sites/default/files/styles/masthead_tall_med-sml_x1/public/assets/landing-page/banner-image/1733411-test-landing-page/fpolandingbanner.jpg?itok=mY_8yjbl&amp;timestamp=1440518446 1x, http://enercare.dev/sites/default/files/styles/masthead_tall_med-sml_x2/public/assets/landing-page/banner-image/1733411-test-landing-page/fpolandingbanner.jpg?itok=0AHDHbcZ&amp;timestamp=1440518446 2x" media="(min-width: 20.0625em)">
      <source srcset="http://enercare.dev/sites/default/files/styles/masthead_sml_x1/public/assets/landing-page/banner-image/1733411-test-landing-page/fpolandingbanner.jpg?itok=kOd35d9H&amp;timestamp=1440518446 1x, http://enercare.dev/sites/default/files/styles/masthead_sml_x2/public/assets/landing-page/banner-image/1733411-test-landing-page/fpolandingbanner.jpg?itok=Z_Xqv-4X&amp;timestamp=1440518446 2x" media="(min-width: 0em)">
      <!--[if IE 9]></video><![endif]-->
      <img src="http://enercare.dev/sites/default/files/styles/masthead_sml_x2/public/assets/landing-page/banner-image/1733411-test-landing-page/fpolandingbanner.jpg?itok=Z_Xqv-4X&amp;timestamp=1440518446" alt="FPO landing page banner" title="">
    </picture>
  </div>

  <div class="masthead--tall__content">
    <div class="masthead--tall__content-main">
      <h1 class="masthead--tall__title">New Air Conditioner Rental</h1>
      <div class="masthead--tall__summary">When it comes time to replace that old, unreliable, or broken air conditioner choose a provider you can trust. Let our Energy Management Consultants help you make the right investment for you and your family’s home comfort needs.
      </div>
    </div>

    <div class="masthead--tall__content-aside">
      <div class="masthead--tall__icon">
        <svg class="icon-svg svg "><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/sites/all/themes/enercare/svg/sprite-products.svg#snow"></use></svg>
      </div>
      <h2 class="masthead--tall__subheadline-1">End of Season Sale!</h2>
      <h3 class="masthead--tall__subheadline-2">SAVE $500</h3>
      <h4 class="masthead--tall__subheadline-3">before August 31st</h4>
      <div class="masthead--tall__indicator"></div>
    </div>

  </div>
</div>
```
*/