/*doc
---
title: Tables
name: c100-tables
category: Components - Tables
---

<p>All content fields displayed.</p>

```html_example
<div class="styleguide__tables"><!--only used in style guide-->
<table class="c-table">
  <tbody>
    <tr>
      <th scope="col">Fusce Euismod Tellus Mollis</th>
      <th class="c-table__col--narrow" scope="col">Sem Lorem</th>
      <th class="c-table__col--narrow" scope="col">Venenatis</th>
    </tr>
    <tr>
      <td>Porta</td>
      <td class="c-table__col--narrow">Yes</td>
      <td class="c-table__col--narrow">Yes</td>
    </tr>
    <tr>
      <td>Inceptos</td>
      <td class="c-table__col--narrow">Yes</td>
      <td class="c-table__col--narrow">No</td>
    </tr>
    <tr>
      <td>Cras Elit Nullam</td>
      <td class="c-table__col--narrow">Yes</td>
      <td class="c-table__col--narrow">No</td>
    </tr>
    <tr>
      <td>Nullam Foo Donis</td>
      <td class="c-table__col--narrow">Yes</td>
      <td class="c-table__col--narrow">No</td>
    </tr>
    <tr>
      <td>Elit</td>
      <td class="c-table__col--narrow">Yes</td>
      <td class="c-table__col--narrow">No</td>
    </tr>
  </tbody>
</table>
</div>
```
*/

// Note: This breaks the naming conventions a bit. This should probably be
// a scoped class, but the assumptions is that no tables in the layout will
// Exist other then this style. This is expected in a wysiwyg editor that
// isn't easy to wrap all the elements in specific classes.

%c-table,
table {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid palette(grey, light);
  width: 100%;
  height: 100%;
  border-collapse: collapse;
}

%c-table__cell--core {
  border: 1px solid palette(grey, light);
  padding: ru(0.25) ru(0.5);
}

// Header Cell
%c-table__th,
th {
  @extend %c-table__cell--core;
  @extend %g-type--large;
  background-color: palette(grey);
  padding-top: ru(0.5);
  padding-bottom: ru(0.5);
  text-align: left;
  color: $white;
  font-weight: 400;
}

// Default Cells
%c-table__td,
td {
  @extend %c-table__cell--core;
  vertical-align: top;
}

// Rows and Cells Styles
%c-table__tr,
tr {

  &:nth-child(even) {
    background-color: $white;
  }

  &:nth-child(odd) {
    background-color: palette(grey, xlight);
  }

  &:hover,
  &:focus {
    background-color: palette(grey, light);

    td {
      border-right-color: palette(grey);
      border-left-color: palette(grey, mediumlight);
    }
  }
}

// Column Variations
%c-table__col--narrow,
.c-table__col--narrow {
  min-width: ru(1);
  max-width: ru(2);
  text-align: center;
}
