// Lists
//
// Styleguide 1.14

/*doc
---
title: Unordered List
name: g-list-100
category: Base - Lists
---

```html_example
<div class="styleguide__wrapper styleguide__lists"><!--only used in style guide-->
<ul>
  <li>No Wrapping paragraph tag </li>
  <li>Consectetur adipiscing elit</li>
  <li>
    Integer molestie lorem at massa
    <ul>
      <li>Nested 2 layers deep</li>
      <li>Nolla volutpat aliquam velit</li>
    </ul>
  </li>
  <li>Vestibolum laoreet porttitor sem</li>
</ul>
<p> Example text next to a list of content</p>
<ul>
  <li>This list is wrapped in paragraph ipsum dolor sit ametThis list is wrapped in paragraph ipsum dolor sit ametThis list is wrapped in paragraph ipsum dolor sit ametThis list is wrapped in paragraph ipsum dolor sit amet</li>
  <li>Consectetur adipiscing elit</li>
  <li>
    Integer molestie lorem at massa
    <ul>
      <li>Facilisis in pretium nisl aliquet</li>
      <li>Nolla volutpat aliquam velit</li>
    </ul>
  </li>
  <li>Vestibolum laoreet porttitor sem</li>
</ul>
<p> Example text near a list item</p>
</div>
```
*/

ul {
  @extend %u-list--reset;
  margin-bottom: ru(0.5);
  margin-left: ru(0.5);
  list-style-type: disc;

  ul {
    margin-bottom: 0;
  }
}
/*doc
---
title: Ordered list
name: g-list-200
category: Base - Lists
---

```html_example
<ol>
  <li>No Wrapping paragraph tag </li>
  <li>Consectetur adipiscing elit</li>
  <li>
    Integer molestie lorem at massa
    <ol>
      <li>Nested 2 layers deep</li>
      <li>Nolla volutpat aliquam velit</li>
    </ol>
  </li>
  <li>Vestibolum laoreet porttitor sem</li>
</ol>
<p> Example text next to a list of content</p>
<p>
<ol>
  <li>This list is wrapped in paragraph ipsum dolor sit ametThis list is wrapped in paragraph ipsum dolor sit ametThis list is wrapped in paragraph ipsum dolor sit ametThis list is wrapped in paragraph ipsum dolor sit amet</li>
  <li>Consectetur adipiscing elit</li>
  <li>
    Integer molestie lorem at massa
    <ol>
      <li>Facilisis in pretium nisl aliquet</li>
      <li>Nolla volutpat aliquam velit</li>
    </ol>
  </li>
  <li>Vestibolum laoreet porttitor sem</li>
</ol>
</p>
<p> Example text near a list item</p>
```
*/


ol {
  @extend %u-list--reset;
  margin-bottom: ru(0.5);
  margin-left: ru(0.5);
  list-style-type: decimal;

  ol {
    margin-bottom: 0;
    list-style-type: lower-alpha;
  }
}
