// Navigation - Horizontal
//
// markup: _c-nav--horizontal.html
//
// Styleguide 2.6.2

.c-nav--horizontal {
  @extend %c-nav--core;
}

.c-nav--horizontal__item {
  @extend %c-nav__item--core;
  display: inline-block;

  &:not(:first-child) {
    padding-left: 1px;
  }

  &:not(:last-child) {
    padding-right: ru(0.25);
  }
}

.c-nav--horizontal__link {
  display: block;
  padding-top: 0;
  color: palette(grey);

  &:hover,
  &:focus,
  &:active {
    text-decoration: underline;
    color: palette(grey, dark);
  }

  &.is-active {
    color: palette(grey, dark);
  }
}
