// Navigation - Vertical
//
// markup: _c-nav--vertical.html
//
// Styleguide 2.6.1

.c-nav--vertical {
  @extend %c-nav--core;
}

.c-nav--vertical__item {
  @extend %c-nav__item--core;
}

.c-nav--vertical__link {
  display: block;
  padding: ru(0.25) 0;
  text-transform: uppercase;
  color: palette(grey);

  &:hover,
  &:focus,
  &:active {
    background-color: palette(grey, xlight);
    color: palette(grey, dark);
  }

  &.is-active {
    color: palette(grey, dark);
    font-weight: 700;
  }
}
