// Navigation - Inline
//
// markup: _c-nav--inline.html
//
// Styleguide 2.6.3

.c-nav--inline {
  @extend %u-list--reset;
  margin: 0;
  padding: 0;
  list-style: none;
  color: palette(grey);

  li {
    display: inline-block;
    margin: 0;

    &:not(:last-of-type)::after {
      padding-right: 3px;
      padding-left: ru(0.25);
      content: '»';
    }
  }

  a {
    color: palette(grey);

    &:hover,
    &:focus,
    &:active,
    &.is-active {
      text-decoration: underline;
      color: palette(grey, dark);
    }
  }
}
