// Reset to Default List Style
%u-list--reset {
  list-style-type: none;
  list-style-position: outside;
  margin: 0;
  padding: 0 0 0 ru(1);
}

// Reset to block-like list with no padding / margins
%u-list__list--blank {
  margin: 0;
  padding: 0;
  list-style-type: none;
  list-style-position: outside;
}

%u-list__item--blank {
  margin: 0;
}

%u-list--blank {
  @extend %u-list__list--blank;

  li {
    @extend %u-list__item--blank;
  }
}
