// Inline Links
//
// High legibility Links where text-shadow is used on decendors
// (requires white background)
//
// .g-link                  - Default
// .g-link:hover            - Hover
// .g-link:active           - Active
// .g-link:focus            - Focus
// .g-link--grey-dark       - Grey
// .g-link--grey-dark:hover - Grey:Hover
//
// markup:
//  <a class="{$modifiers}" href="#">Default - {$modifiers} Decendors like y j are "cut out"</a>
//
// sg-wrapper:
// <div class="sg__wrapper--swatch">
//   <sg-wrapper-content/>
// </div>
//
// Styleguide 1.7

// Reset Links
a {
  text-decoration: none;
}


%g-link--core {
  @extend %u-animate-all;
  display: inline-block;
  background-repeat: repeat-x;
  background-position: bottom center; // Default for old safari
  background-position: bottom 0.25em center; //sass-lint:disable-line no-duplicate-properties
  background-size: 100% 1px;
}

%g-link,
.g-link {
  @extend %g-link--core;

  // Creates a "shadow" the same color as the background to allow text to cover the underline
  $text-background-color: $white;
  $underline: palette(blue, light);

  background-color: $text-background-color;
  background-image: linear-gradient(to right, $underline 0%, $underline 100%);
  color: palette(blue, dark);
  // You might need to play with the shadow sizes for different fonts
  text-shadow: 1px 0 0 $text-background-color, -1px 0 0 $text-background-color, 0 0.5px 0 $text-background-color, 0 -0.5px 0 $text-background-color;

  &:visited {
    color: palette(blue, dark);
  }

  &:hover,
  &:active {
    $text-background-color: palette(grey, xlight);
    background-color: $text-background-color;
    color: palette(blue, dark);
    text-shadow: 1px 0 0 $text-background-color, -1px 0 0 $text-background-color, 0 0.5px 0 $text-background-color, 0 -0.5px 0 $text-background-color;
  }

  &:focus {
    outline: 0; // Only doing it as it's already contrasty
    background-color: palette(grey, xlight);
    color: palette(blue, dark);
    text-shadow: none;
  }
}

.g-link--grey-dark {
  @extend %g-link--core;

  // Creates a "shadow" the same color as the background to allow text to cover the underline
  $text-background-color: $white;
  $underline: palette(blue, light);

  background-color: $text-background-color;
  background-image: linear-gradient(to right, $underline 0%, $underline 100%);
  color: palette(grey, dark);
  // You might need to play with the shadow sizes for different fonts
  text-shadow: 1px 0 0 $text-background-color, -1px 0 0 $text-background-color, 0 0.5px 0 $text-background-color, 0 -0.5px 0 $text-background-color;

  &:visited {
    color: palette(grey, dark);
  }

  &:hover,
  &:active {
    $text-background-color: palette(blue, xlight);
    background-color: $text-background-color;
    color: palette(grey, xdark);
    text-shadow: 1px 0 0 $text-background-color, -1px 0 0 $text-background-color, 0 0.5px 0 $text-background-color, 0 -0.5px 0 $text-background-color;
  }

  &:focus {
    outline: 0; // Only doing it as it's already contrasty
    background-color: palette(grey, xlight);
    color: palette(grey, xdark);
    text-shadow: none;
  }



}
