<div class="c-quote__wrapper">
  <div class="c-quote__open"><svg class="g-svg"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/svg/sprite-ui.svg#quote-left"></use></svg></div>
    <blockquote class="c-quote">
      <p>
       Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ita separantur, ut disiuncta sint, quo nihil potest esse perversius. An est aliquid, quod te sua spon.
     </p>
    </blockquote>
  <div class="c-quote__close"><svg class="g-svg"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/svg/sprite-ui.svg#quote-right"></use></svg></div>
</div>
