<html>
<head>
<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>

<a href="#" class="c-btn">Default Button</a>

<div class="sg__wrapper--light-grey"> <!--styleguide only -->
  <a href="#" class="c-btn--grey">Grey Button</a>
</div>

<div class="sg__wrapper--light-grey"> <!--styleguide only -->
  <a href="#" class="c-btn--grey c-btn--thin">Thin Grey Button</a>
</div>

<a href="#" class="c-btn--left"><svg class="svg"><use xlink:href="../svg/sprite-ui.svg#arrow-left"></use></svg>Back Button</a>
<a href="#" class="c-btn--right">Continue Button<svg class="svg"><use xlink:href="../svg/sprite-ui.svg#arrow-right"></use></svg></a>

<div class="sg__wrapper--light-grey"> <!--styleguide only -->
  <a href="#" class="c-btn--svg">
  <svg class="svg"><use xlink:href="../svg/sprite-ui.svg#close"></use></svg>
  <div class="u-text-hide">Close</div>
  </a>

  <a href="#" class="c-btn--svg">
  <svg class="svg"><use xlink:href="../svg/sprite-ui.svg#menu"></use></svg>
  <div class="u-text-hide">Menu</div>
  </a>
</div>
</body>
</html>
