/*doc
---
title: Button Default
name: c-btn-100
category: Components - Buttons
---

```html_example
<a href="#" class="c-btn">Default Button</a>
```
*/

%c-btn--core {
  display: inline-block;
  border: 1px solid $white;
  border-radius: rem(4px);
  padding: ru(0.5) ru(1);
  text-transform: uppercase;
  text-decoration: none;
}

%c-btn,
.c-btn {
  @extend %c-btn--core;
  border-color: palette(grey, mediumlight);
  background-color: $white;
  color: palette(grey);

  &:hover,
  &:focus,
  &:active {
    border-color: palette(grey);
    background-color: palette(grey, xlight);
  }
}

/*doc
---
title: Button Color Variations
name: c-btn-200
category: Components - Buttons
---

```html_example
<div class="sg__wrapper--light-grey"> <!--styleguide only -->
  <a href="#" class="c-btn--grey">Grey Button</a>
</div>
```
*/

%c-btn--grey,
.c-btn--grey {
  @extend %c-btn--core;
  background-color: palette(grey);
  color: $white;

  &:hover,
  &:focus,
  &:active {
    border-color: palette(grey);
    background-color: $white;
    color: palette(grey);
  }
}

/*doc
---
title: Button Size Variations
name: c-btn-300
category: Components - Buttons
---

```html_example
<div class="sg__wrapper--light-grey"> <!--styleguide only -->
  <a href="#" class="c-btn--grey c-btn--thin">Thin Grey Button</a>
</div>
```
*/

%c-btn--thin,
.c-btn--thin {
  @extend %c-btn--core;
  padding: ru(0.125) ru(1);
}

/*doc
---
title: Buttons - Inline Icons
name: c-btn-400
category: Components - Buttons
---

```html_example
<a href="#" class="c-btn--left"><svg class="svg"><use xlink:href="../svg/sprite-ui.svg#arrow-left"></use></svg>Back Button</a>
<a href="#" class="c-btn--right">Continue Button<svg class="svg"><use xlink:href="../svg/sprite-ui.svg#arrow-right"></use></svg></a>
```
*/

%c-btn--icon {
  @extend %c-btn;
  position: relative;
  border-color: palette(grey, mediumlight);

  &:hover,
  &:focus,
  &:active {
    background-color: palette(grey, xlight);
    color: palette(grey);
  }

  svg {
    // color: palette(green);
  }
}

%c-btn--left,
.c-btn--left {
  @extend %c-btn--icon;
  // See config/mixins/svg-position.scss
  @include svg-inline(
    $baseline: rem($base-line-height), // font baseline
    $svg-width: ru(0.75), // SVG width (units same as typography)
    $svg-height: ru(0.75), // SVG height
    $svg-pad-right: ru(0.25), // padding on right side of SVG
    $svg-pad-left: 0, // padding on left side of SVG
    $container-vertical-padding: ru(0.5), // Top & bottom padding for container
    $container-padding-left : ru(1), // Left padding for container
    $container-padding-right: ru(1), // Right padding for container    $svg-class: 'svg', // Class for the SVG inside the parent
    $h-alignment: 'left', // Align Icon on 'left' or 'right'
    $v-alignment: 'top'); // Align Icon 'middle' or 'top'
}

%c-btn--right,
.c-btn--right {
  @extend %c-btn--icon;
  @include svg-inline(
    $baseline: rem($base-line-height), // font baseline
    $svg-width: ru(0.75), // SVG width (units same as typography)
    $svg-height: ru(0.75), // SVG height
    $svg-pad-right: 0, // padding on left side of SVG
    $svg-pad-left: ru(0.5), // padding on right side of SVG
    $container-vertical-padding: ru(0.5), // Top & bottom padding for container
    $container-padding-left : ru(1), // Left padding for container
    $container-padding-right: ru(0.75), // Right padding for container
    $svg-class: 'svg', // Class for the SVG inside the parent
    $h-alignment: 'right', // Align Icon on 'left' or 'right'
    $v-alignment: 'top'); // Align Icon 'middle' or 'top'

  svg {
    position: absolute;
    top: ru(2 / 3);
    right: ru(1 / 3);
  }
}

/*doc
---
title: Buttons - Icons Only
name: c-btn-500
category: Components - Buttons
---

```html_example
<div class="sg__wrapper--light-grey"> <!--styleguide only -->
  <a href="#" class="c-btn--svg">
  <svg class="svg"><use xlink:href="../svg/sprite-ui.svg#close"></use></svg>
  <div class="u-text-hide">Close</div>
  </a>

  <a href="#" class="c-btn--svg">
  <svg class="svg"><use xlink:href="../svg/sprite-ui.svg#menu"></use></svg>
  <div class="u-text-hide">Menu</div>
  </a>
</div>

```
*/

%c-btn--svg,
.c-btn--svg {
  // See config/mixins/svg-position.scss
  @include svg-centered(ru(1), ru(1), ru(1.5), ru(1.5), 'svg');
  display: block;
  color: palette(grey, dark);

  &:hover,
  &:focus,
  &:active {
    background-color: palette(grey, light);
  }
}

%c-btn--svg--lrg,
.c-btn--svg--lrg {
  @extend %c-btn--svg;
  @include svg-centered(ru(1.25), ru(1.25), ru(1.25), ru(1.25), 'svg');
}

%c-btn--svg--sml,
.c-btn--svg--sml {
  @extend %c-btn--svg;
  @include svg-centered(ru(1), ru(1), ru(1), ru(1), 'svg');
}

%btn--menu,
.btn--menu {
  position: absolute;
  right: ru(1);
  bottom: ru(0.5);
  margin-bottom: 0;
  cursor: pointer;
  padding: ru(0.75) ru(0.25);
  max-height: 100%;

  @include respond-to('type-large') {
    bottom: 0;
  }

  @include respond-to('full-nav') {
    display: none;
  }

  &:hover,
  &:active,
  &:focus {
    text-decoration: none;
    color: $white;
  }
}
