/*doc
---
title: Logo
name: c-logo-100
category: Components - Logo
---

```html_example
<div class="styleguide__wrapper--med-black styleguide__logo"><!-- Only used in style guide -->
  <div class="c-logo">
    <div class="c-logo__svg-wrapper">
      <a class="c-logo__link" href="#">
        <svg class="c-logo__svg--shapes"><use xlink:href="/svg/sprite-ui.svg#logo"></use></svg>
        <div class="c-logo__hidden-text">Logo</div>
      </a>
    </div>
  </div>
</div>
```
*/

/*doc
---
title: Logo (Mobile Size)
name:  c-logo-200
category: Components - Logo
---

```html_example
<div class="styleguide__wrapper--tiny-black"><!-- Only used in style guide -->
  <div class="c-logo">
    <div class="c-logo__svg-wrapper">
      <a class="c-logo__link" href="#">
        <svg class="c-logo__svg--shapes"><use xlink:href="/svg/sprite-ui.svg#logo"></use></svg>
        <div class="c-logo__hidden-text">Logo</div>
      </a>
    </div>
  </div>
</div>
```
*/
%c-logo,
.c-logo {
  float: left;
  width: ru(1);

  @include respond-to('full-nav') {
    float: none;
    margin-bottom: ru(1.75);
    padding-left: ru(1.5);
    width: auto;
  }

}


%c-logo__link,
.c-logo__link {
  // color: palette(blue, dark);

  &:hover,
  &:focus,
  &:active {
    // color: palette(blue, dark);
  }
}

%c-logo__link--white,
.c-logo__link--white {
  color: $white;

  &:hover,
  &:active,
  &:focus {
    color: $white;
  }
}

%c-logo__svg,
.c-logo__svg {
  @extend %svg__core;
}

%c-logo__svg--shapes,
.c-logo__svg--shapes {
  @extend %svg__core;
  width: rem(24px);
  height: rem(56px);

  @include respond-to('full-nav') {
    width: rem(42px);
    height: rem(101px);
  }
}

%c-logo__svg--words,
.c-logo__svg--words {

  @extend %svg__core;
  display: none;
  position: relative;
  top: rem(50px);
  left: rem(8px);
  width: rem(132px);
  height: rem(91px);


  @include respond-to('full-nav') {
    display: inherit;
  }
}

%c-logo__hidden-text,
.c-logo__hidden-text {
  @extend %u-text-hide;
  height: 0;
}
