/*doc
---
title: Quote
name: c-blockquote-100
category: Components - Quote
---

```html_example
<blockquote class="c-quote">
  <p>
    "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ita separantur, ut disiuncta sint, quo nihil potest esse perversius. An est aliquid, quod te sua sponte delectet? Verum tamen cum de rebus grandioribus dicas, ipsae res verba rapiunt; Re mihi non aeque satisfacit, et quidem locis pluribus."
  </p>
</blockquote>
```
*/

%c-quote,
.c-quote {
  margin: ru(2) 0 ru(1);
  padding: ru(1);
}

%c-quote__cite,
.c-quote__cite {
  font-style: normal;
}
