// Forms
//
// Forms
// **Core Extendables:**
//
// <pre>%g-input--core<pre>
//
// Markup: _g-form.html
//
// Styleguide 1.15


// Core Extendables
%g-input--core {
  display: block;
  margin-top: ru(0.5);
  margin-bottom: ru(1);
  outline: 0;
  border: 1px solid palette(grey, light);
  border-radius: 4px;
  background: none;
  cursor: pointer;
  padding: ru(0.5);
  width: 100%;
  vertical-align: top;
  font-family: $base-font-family;
  // Many Resets for various browsers
  text-shadow: none;
  -webkit-appearance: none;

  &:focus {
    border-color: palette(grey, dark);
    background-color: $white;
  }

  // Error state
  &.has-error {
    // Change to sites red variant
    border-color: $debug-red;
    background-color: rgba($debug-red, 0.1);
    color: $debug-red;
  }

  &[disabled] {
    border-color: palette(grey, light);
    background-color: palette(grey, light);
  }
}

// Import Variations
@import 'g-form--input';
@import 'g-form--radio-check';



