// Navigation
//
// Core Naviagtion Mixins and Extends
//
// <i>Core Extends:</i>
// <pre>%c-nav--core</pre>
// <pre>%c-nav__item--core</pre>
//
// Styleguide 2.6

// EXTENDS

// Core list wrapper
%c-nav--core {
  margin: 0;
  padding: 0;
  list-style: none;
}

// Core list item
%c-nav__item--core {
  display: block;
  margin: 0;
}

@import 'c-nav--vertical';
@import 'c-nav--horizontal';
@import 'c-nav--inline';
