// Page Layout
//
// Wrappers for the entire website
//
// Styleguide 3.5


// Used specifically in products page to do two column layout with content and image when selecting default layout.
.l-page__content {
  @extend %u-clearfix;
  background-color: $grey-light;
  padding: ru(1);
}

// Main Content Wrapper (default is full width)
.l-page__content-main {
  @extend %u-remove-child--margin-top-bottom;
}

// Main Content Region w/ Aside
.l-page__content-main--has-aside {

  @include respond-to('type-large') {
    @include grid-span(4, 1);
    padding-right: ru(0.5);
  }
}

// Aide Region
.l-page__content-aside {
  margin-top: ru(0.5);

  @include respond-to('type-large') {
    @include grid-span(2, 5);
    margin-top: 0;
    padding-left: ru(0.5);
  }
}
