<div class="l-page">

  <div class="l-page__header-wrapper">
    <header class="l-page__header l-header">

      <div class="c-logo l-header__logo">
        <div class="c-logo__svg-wrapper">
          <a class="c-logo__link" href="#">
            <svg class="c-logo__svg"><use xlink:href="/svg/svg-art.svg#mainspring-logo"></use></svg>
            <div class="c-logo__hidden-text">Logo</div>
          </a>
        </div>
      </div>

    </header>
  </div>

  <main class="l-page__main">

  <div class="l-page__content l-content">
    <h1>H1 - Heading Level 1</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque pulvinar finibus diam, eget sagittis est hendrerit et. </p>
    <h2 class="u-color--fg-orange"> Heading level 2 -  Pellentesque sed sollicitudin lacus, </h2>
    <p>Cras in suscipit erat. Integer sollicitudin ex ac urna interdum, pretium hendrerit lorem vehicula. Vestibulum sed dolor eu leo suscipit fringilla et pellentesque lectus. Donec cursus elementum neque, quis interdum quam sollicitudin non. Integer a tincidunt turpis. Suspendisse potenti. Aenean vel sem tellus.</p>
    <h3 class="u-color--fg-green">Heading level 3 - Maecenas interdum, elit ut accumsan luctus </h3>
    <p class="g-type__p--large">This is a Large Paragraph.Cras in suscipit erat. Integer sollicitudin ex ac urna interdum, pretium hendrerit lorem vehicula. Vestibulum sed dolor eu leo suscipit fringilla et pellentesque lectus. Donec cursus elementum neque, quis interdum quam sollicitudin non. Integer a tincidunt turpis. Suspendisse potenti. Aenean vel sem tellus.</p>
    <p>This is a normal Paragraph. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque sed sollicitudin lacus, at molestie odio.</p>
    <p>New Paragrpah dolor eleifend dolor, eget suscipit ante erat ac lectus.  <a href="#">This is a text link</a> Ut sodales, lorem quis ultrices sollicitudin
    <strong>Strong is used to indicate strong importance</strong> at cursus erat urna vitae justo. Maecenas interdum
    <em>This text has added emphasis.</em>
    <p>Superscript<sup>®</sup></p>
    <p>Subscript for things like H<sub>2</sub>O</p>
    <p><small>This small text is small for for fine print, etc.</small></p>
  </div>

  </main>

  <div class="l-page__footer-wrapper">
    <footer class="l-page__footer l-footer">

      <h3>Ordered List</h3>
      <ol class="c-nav--inline">
        <li><a href="#" class="is-active">Link 1</a></li>
        <li><a href="#">Link 2</a></li>
        <li><a href="#">Link 3</a></li>
      </ol>

      <h3>Unordered List</h3>
      <ul class="c-nav--inline">
        <li><a href="#">Link 1</a></li>
        <li><a href="#" class="is-active">Link 2</a></li>
        <li><a href="#">Link 3</a></li>
      </ul>

    </footer>
  </div>
</div>
