<div>
  <label>2 Column Layout @ 50% each</label>
  <div class='l-eq' data-eq-pts='2col: 500'>
    <div class='l-item'>
      <h3>EQ Item 1 - 50%</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus augue nibh, imperdiet eget velit id, posuere viverra leo. In libero arcu, tincidunt et convallis non, imperdiet quis velit.</p>
    </div>

    <div class='l-item'>
      <h3>EQ Item 2 - 50%</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus augue nibh, imperdiet eget velit id, posuere viverra leo. In libero arcu, tincidunt et convallis non, imperdiet quis velit.</p>
    </div>
  </div>
</div>

<div>
  <label>2 Column Layout @ 60% &amp; 40%</label>
  <div class='l-eq' data-eq-pts='2col-60/40: 600'>
    <div class='l-item'>
      <h3>EQ Item 1 - 60%</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus augue nibh, imperdiet eget velit id, posuere viverra leo. In libero arcu, tincidunt et convallis non, imperdiet quis velit.</p>
    </div>

    <div class='l-item'>
      <h3>EQ Item 2 - 40%</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus augue nibh, imperdiet eget velit id, posuere viverra leo. In libero arcu, tincidunt et convallis non, imperdiet quis velit.</p>
    </div>
  </div>
</div>

<div>
  <label>2 Column Layout @ 66.666% &amp; 33.333%</label>
  <div class='l-eq' data-eq-pts='2col-66/33: 600'>
    <div class='l-item'>
      <h3>EQ Item 1 - 66.666%</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus augue nibh, imperdiet eget velit id, posuere viverra leo. In libero arcu, tincidunt et convallis non, imperdiet quis velit.</p>
    </div>

    <div class='l-item'>
      <h3>EQ Item 2 - 33.333%</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus augue nibh, imperdiet eget velit id, posuere viverra leo. In libero arcu, tincidunt et convallis non, imperdiet quis velit.</p>
    </div>
  </div>
</div>

<div>
  <label>2 Column Layout @ 33.333% &amp; 66.666%</label>
  <div class='l-eq' data-eq-pts='2col-33/66: 600'>
    <div class='l-item'>
      <h3>EQ Item 1 - 33.333%</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus augue nibh, imperdiet eget velit id, posuere viverra leo. In libero arcu, tincidunt et convallis non, imperdiet quis velit.</p>
    </div>

    <div class='l-item'>
      <h3>EQ Item 2 - 66.666%</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus augue nibh, imperdiet eget velit id, posuere viverra leo. In libero arcu, tincidunt et convallis non, imperdiet quis velit.</p>
    </div>
  </div>
</div>

<div>
  <label>2 Column Layout @ 40% &amp; 60%</label>
  <div class='l-eq' data-eq-pts='2col-40/60: 600'>
    <div class='l-item'>
      <h3>EQ Item 1 - 40%</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus augue nibh, imperdiet eget velit id, posuere viverra leo. In libero arcu, tincidunt et convallis non, imperdiet quis velit.</p>
    </div>

    <div class='l-item'>
      <h3>EQ Item 2 - 60%</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus augue nibh, imperdiet eget velit id, posuere viverra leo. In libero arcu, tincidunt et convallis non, imperdiet quis velit.</p>
    </div>
  </div>
</div>

<div>
  <label>2 Column Layout @ 75% &amp; 25%</label>
  <div class='l-eq' data-eq-pts='2col-75/25: 600'>
    <div class='l-item'>
      <h3>EQ Item 1 - 75%</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus augue nibh, imperdiet eget velit id, posuere viverra leo. In libero arcu, tincidunt et convallis non, imperdiet quis velit.</p>
    </div>

    <div class='l-item'>
      <h3>EQ Item 2 - 25%</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus augue nibh, imperdiet eget velit id, posuere viverra leo. In libero arcu, tincidunt et convallis non, imperdiet quis velit.</p>
    </div>
  </div>
</div>

<div>
  <label>3 Column Layout @ 33% Each</label>
  <div class='l-eq' data-eq-pts='3col: 600'>
    <div class='l-item'>
      <h3>EQ Item 1 - 33%</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus augue nibh, imperdiet eget velit id, posuere viverra leo. In libero arcu, tincidunt et convallis non, imperdiet quis velit.</p>
    </div>

    <div class='l-item'>
      <h3>EQ Item 2 - 33%</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus augue nibh, imperdiet eget velit id, posuere viverra leo. In libero arcu, tincidunt et convallis non, imperdiet quis velit.</p>
    </div>

    <div class='l-item'>
      <h3>EQ Item 2 - 33%</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus augue nibh, imperdiet eget velit id, posuere viverra leo. In libero arcu, tincidunt et convallis non, imperdiet quis velit.</p>
    </div>
  </div>
</div>
