//eq wrapper - core
%l-eq-core,
.l-eq {
  @extend %u-clearfix;
  // margin-right: ru(-0.5);
  // margin-left: ru(-0.5);
}

//eq item - core, default gutter
%l-item {
  padding: 0 ru(0.5);
}


//eq item - thin gutter
%l-item--thin-margin {
  padding: 0 1px;
}

/*doc
---
title: 2 Column Layout @ 50% each
name: l-eq-100
category: Layout - Columns
---

```html_example
<div class="sg__wrapper--eq">
  <div class="l-eq" data-eq-pts="2col: 600">
    <div class="l-item">
      <h3>EQ Item 1 - 50%</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus augue nibh, imperdiet eget velit id, posuere viverra leo. In libero arcu, tincidunt et convallis non, imperdiet quis velit.</p>
    </div>

    <div class="l-item">
      <h3>EQ Item 2 - 50%</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus augue nibh, imperdiet eget velit id, posuere viverra leo. In libero arcu, tincidunt et convallis non, imperdiet quis velit.</p>
    </div>
  </div>
</div>
```

*/


//2COLUMN LAYOUT @ 50% EACH
%l-eq-2col__item,
.l-eq[data-eq-state="2col"] .l-item {
  @extend %l-item;

  @include layout(2, $gutter: 0) {
    &:nth-child(2n+1) {
      @include grid-span(1, 1);
      clear: left;
    }

    &:nth-child(2n+2) {
      @include grid-span(1, 2);
      clear: right;
    }
  }
}

/*doc
---
title: 2 Column Layout @ 60% & 40%
name: l-eq-200
category: Layout - Columns
---

```html_example
<div class="sg__wrapper--eq">
  <div class="l-eq" data-eq-pts="2col-60/40: 600">
    <div class="l-item">
      <h3>EQ Item 1 - 60%</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus augue nibh, imperdiet eget velit id, posuere viverra leo. In libero arcu, tincidunt et convallis non, imperdiet quis velit.</p>
    </div>

    <div class="l-item">
      <h3>EQ Item 2 - 40%</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus augue nibh, imperdiet eget velit id, posuere viverra leo. In libero arcu, tincidunt et convallis non, imperdiet quis velit.</p>
    </div>
  </div>
</div>
```

*/

//2COLUMN LAYOUT @ 60% & 40%
%l-eq-2col__item--1-2\(60\,40\),
.l-eq[data-eq-state="2col-60/40"] .l-item {
  @extend %l-item;

  @include layout(60 40, $gutter: 0) {
    &:nth-child(2n+1) {
      @include grid-span(1, 1);
      clear: left;
    }

    &:nth-child(2n+2) {
      @include grid-span(1, 2);
      clear: right;
    }
  }
}

/*doc
---
title: 2 Column Layout @ 66.666% & 33.333%
name: l-eq-300
category: Layout - Columns
---

```html_example
<div class="sg__wrapper--eq">
  <div class="l-eq" data-eq-pts="2col-66/33: 600">
    <div class="l-item">
      <h3>EQ Item 1 - 66.666%</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus augue nibh, imperdiet eget velit id, posuere viverra leo. In libero arcu, tincidunt et convallis non, imperdiet quis velit.</p>
    </div>

    <div class="l-item">
      <h3>EQ Item 2 - 33.333%</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus augue nibh, imperdiet eget velit id, posuere viverra leo. In libero arcu, tincidunt et convallis non, imperdiet quis velit.</p>
    </div>
  </div>
</div>
```

*/

//2COLUMN LAYOUT @ 66.666% & 33.333%
%l-eq-2col__item--1-2\(66\,33\),
.l-eq[data-eq-state="2col-66/33"] .l-item {
  @extend %l-item;

  @include layout(66 33, $gutter: 0) {
    &:nth-child(2n+1) {
      @include grid-span(1, 1);
      clear: left;
    }

    &:nth-child(2n+2) {
      @include grid-span(1, 2);
      clear: right;
    }
  }
}

/*doc
---
title: 2 Column Layout @ 33.333% & 66.666%
name: l-eq-400
category: Layout - Columns
---

```html_example
<div class="sg__wrapper--eq">
  <div class="l-eq" data-eq-pts="2col-33/66: 600">
    <div class="l-item">
      <h3>EQ Item 1 - 33.333%</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus augue nibh, imperdiet eget velit id, posuere viverra leo. In libero arcu, tincidunt et convallis non, imperdiet quis velit.</p>
    </div>

    <div class="l-item">
      <h3>EQ Item 2 - 66.666%</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus augue nibh, imperdiet eget velit id, posuere viverra leo. In libero arcu, tincidunt et convallis non, imperdiet quis velit.</p>
    </div>
  </div>
</div>
```

*/

//2COLUMN LAYOUT @ 33.333% & 66.666%
%l-eq-2col__item--1-2\(33\,66\),
.l-eq[data-eq-state="2col-33/66"] .l-item {
  @extend %l-item;

  @include layout(33 66, $gutter: 0) {
    &:nth-child(2n+1) {
      @include grid-span(1, 1);
      clear: left;
    }

    &:nth-child(2n+2) {
      @include grid-span(1, 2);
      clear: right;
    }
  }
}

/*doc
---
title: 2 Column Layout @ 40% & 60%
name: l-eq-500
category: Layout - Columns
---

```html_example
<div class="sg__wrapper--eq">
  <div class="l-eq" data-eq-pts="2col-40/60: 600">
    <div class="l-item">
      <h3>EQ Item 1 - 40%</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus augue nibh, imperdiet eget velit id, posuere viverra leo. In libero arcu, tincidunt et convallis non, imperdiet quis velit.</p>
    </div>

    <div class="l-item">
      <h3>EQ Item 2 - 60%</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus augue nibh, imperdiet eget velit id, posuere viverra leo. In libero arcu, tincidunt et convallis non, imperdiet quis velit.</p>
    </div>
  </div>
</div>
```

*/

//2COLUMN LAYOUT @ 40% & 60%
%l-eq-2col__item--1-2\(40\,60\),
.l-eq[data-eq-state="2col-40/60"] .l-item {
  @extend %l-item;

  @include layout(40 60, $gutter: 0) {
    &:nth-child(2n+1) {
      @include grid-span(1, 1);
      clear: left;
    }

    &:nth-child(2n+2) {
      @include grid-span(1, 2);
      clear: right;
    }
  }
}


/*doc
---
title: 2 Column Layout @ 75% & 25%
name: l-eq-600
category: Layout - Columns
---

```html_example
<div class="sg__wrapper--eq">
  <div class="l-eq" data-eq-pts="2col-75/25: 600">
    <div class="l-item">
      <h3>EQ Item 1 - 75%</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus augue nibh, imperdiet eget velit id, posuere viverra leo. In libero arcu, tincidunt et convallis non, imperdiet quis velit.</p>
    </div>

    <div class="l-item">
      <h3>EQ Item 2 - 25%</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus augue nibh, imperdiet eget velit id, posuere viverra leo. In libero arcu, tincidunt et convallis non, imperdiet quis velit.</p>
    </div>
  </div>
</div>
```

*/

//2COLUMN LAYOUT @ 75% & 25%
%l-eq-2col__item--1-2\(75\,25\),
.l-eq[data-eq-state="2col-75/25"] .l-item {
  @extend %l-item;

  @include layout(75 25, $gutter: 0) {
    &:nth-child(2n+1) {
      @include grid-span(1, 1);
      clear: left;
    }

    &:nth-child(2n+2) {
      @include grid-span(1, 2);
      clear: right;
    }
  }
}

/*doc
---
title: 3 Column Layout @ 33% Each
name: l-eq-700
category: Layout - Columns
---

```html_example
<div class="sg__wrapper--eq">
  <div class="l-eq" data-eq-pts="3col: 600">
    <div class="l-item">
      <h3>EQ Item 1 - 33%</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus augue nibh, imperdiet eget velit id, posuere viverra leo. In libero arcu, tincidunt et convallis non, imperdiet quis velit.</p>
    </div>

    <div class="l-item">
      <h3>EQ Item 2 - 33%</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus augue nibh, imperdiet eget velit id, posuere viverra leo. In libero arcu, tincidunt et convallis non, imperdiet quis velit.</p>
    </div>

    <div class="l-item">
      <h3>EQ Item 2 - 33%</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus augue nibh, imperdiet eget velit id, posuere viverra leo. In libero arcu, tincidunt et convallis non, imperdiet quis velit.</p>
    </div>
  </div>
</div>
```

*/

//3COLUMN LAYOUT @ 33% EACH
%l-eq-3col__item,
.l-eq[data-eq-state="3col"] .l-item {
  @extend %l-item;

  @include layout(33 33 33, $gutter: 0) {
    &:nth-child(3n+1) {
      @include grid-span(1, 1);
    }

    &:nth-child(3n+2) {
      @include grid-span(1, 2);
    }

    &:nth-child(3n+3) {
      @include grid-span(1, 3);
    }
  }
}
