%l-header,
.l-header {
  background-color: $grey-xxxdark;
}

// Background banners to strech full width
%l-header-wrapper,
.l-header-wrapper {
  @extend %clearfix;
  @extend %l-page--limit;

  @include breakpoint($bp-sml-med) {
    padding-right: ru(1);
    padding-left: ru(1);
  }
}
