// Modified without base 10 reset
// From https://css-tricks.com/snippets/css/less-mixin-for-rem-font-sizing/

$base-font-size:   16px !default;

// Supply px value for fonts
@mixin font-size($size) {
  $size: strip-unit($size);
  font-size: $size + px;
  font-size: ($size / strip-unit($base-font-size)) + rem;
}

