%l-eq,
.l-eq {
  margin: 0;
  padding: 0;
  list-style: none;
}

%l-eq--col {
  @extend %clearfix;
  margin-right: ru(-0.5);
  margin-left: ru(-0.5);
}

%l-eq__item,
.l-eq__item,
.l-eq--item, {
  margin-bottom: ru(0.5);
}

%l-eq__item--xtrailer,
.l-eq__item.xtrailer {
  margin-bottom: ru(1);
}

%l-eq__item--underlined,
.l-eq--underlined .l-eq--item {
  @include trailing-border(1px, 0.25);
  margin-bottom: ru(1.25);
  border-color: $grey-medium-light;
}

%l-eq--col__item {
  float: left;
  padding: 0 ru(0.5);
}

%l-eq--col__item--thin-margin {
  float: left;
  padding: 0 1px;
}

// 2col layout
//////////////
%l-eq--2col,
.l-eq[data-eq-state="2col"] {
  @extend %l-eq--col;
}

%l-eq--2col__item,
.l-eq[data-eq-state="2col"] .l-eq__item,
.l-eq[data-eq-state="2col"] .l-eq--item {
  @extend %l-eq--col__item;
  width: 50%;

  &:nth-child(2n+1) {
    clear: both;
  }
}

// 3col layout
//////////////
%l-eq--3col,
.l-eq[data-eq-state="3col"],
.l-eq--underlined[data-eq-state="3col"] {
  @extend %l-eq--col;
}

%l-eq--3col__item,
.l-eq[data-eq-state="3col"] .l-eq__item,
.l-eq[data-eq-state="3col"] .l-eq--item {

  @extend %l-eq--col__item;
  margin-bottom: ru(0.5);
  width: (1 / 3) * 100%;

  &:nth-child(3n+1) {
    clear: both;
  }
}
