// Typography
//
// Example "Kitchen Sink" Content
//
// markup:
// <h1>H1 - Heading Level 1</h1>
// <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque pulvinar finibus diam, eget sagittis est hendrerit et. </p>
// <h2 class="u-color--fg-orange"> Heading level 2 -  Pellentesque sed sollicitudin lacus, </h2>
// <p>Cras in suscipit erat. Integer sollicitudin ex ac urna interdum, pretium hendrerit lorem vehicula. Vestibulum sed dolor eu leo suscipit fringilla et pellentesque lectus. Donec cursus elementum neque, quis interdum quam sollicitudin non. Integer a tincidunt turpis. Suspendisse potenti. Aenean vel sem tellus.</p>
// <h3 class="u-color--fg-green">Heading level 3 - Maecenas interdum, elit ut accumsan luctus </h3>
// <p class="g-type__p--large">This is a Large Paragraph.Cras in suscipit erat. Integer sollicitudin ex ac urna interdum, pretium hendrerit lorem vehicula. Vestibulum sed dolor eu leo suscipit fringilla et pellentesque lectus. Donec cursus elementum neque, quis interdum quam sollicitudin non. Integer a tincidunt turpis. Suspendisse potenti. Aenean vel sem tellus.</p>
// <p>This is a normal Paragraph. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque sed sollicitudin lacus, at molestie odio.</p>
// <p>New Paragrpah dolor eleifend dolor, eget suscipit ante erat ac lectus.  <a href="#">This is a text link</a> Ut sodales, lorem quis ultrices sollicitudin
// <strong>Strong is used to indicate strong importance</strong> at cursus erat urna vitae justo. Maecenas interdum
// <em>This text has added emphasis.</em>
// <p>Superscript<sup>®</sup></p>
// <p>Subscript for things like H<sub>2</sub>O</p>
// <p><small>This small text is small for for fine print, etc.</small></p>
//
// Styleguide 1.6


// GLOBAL TYPE COMPONENTS

// NOTE: Variables partial is imported in style.scss before all other global functions
// $base-font-size and $base-line-height are needed for global functions like rem()
// @import 'g-type__variables';

@import 'g-type__functions';

// Optional Partial - if you need to import font-face
@import 'g-type__fonts';

html {
  line-height: ($base-line-height / $base-font-size) * 1em;
  color: palette(grey, xdark);
  font-family: $base-font-family;
  font-size: ($base-font-size / 16px) * 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

// Type Variants
//
// Type Variants
//
// markup:
// <p>
//   Default Paragraph <strong>This is in Bold</strong>, consectetur adipiscing elit. <em>This is italic</em> Ut disiuncta sint, quo nihil potest esse perversius. An est aliquid, quod te sua sponte delectet? Verum tamen cum de rebus grandioribus dicas, ipsae res verba rapiunt; Re mihi non aeque satisfacit, et quidem locis pluribus.
// </p>
// <p class="g-type--small">
//   small Paragraph <strong>This is in Bold</strong>, consectetur adipiscing elit. <em>This is italic</em> Ut disiuncta sint, quo nihil potest esse perversius. An est aliquid, quod te sua sponte delectet? Verum tamen cum de rebus grandioribus dicas, ipsae res verba rapiunt; Re mihi non aeque satisfacit, et quidem locis pluribus.
// </p>
// <p class="g-type--large">
//   large Paragraph <strong>This is in Bold</strong>, consectetur adipiscing elit. <em>This is italic</em> Ut disiuncta sint, quo nihil potest esse perversius. An est aliquid, quod te sua sponte delectet? Verum tamen cum de rebus grandioribus dicas, ipsae res verba rapiunt; Re mihi non aeque satisfacit, et quidem locis pluribus.
// </p>
// <p class="g-type--xlarge">
//   xlarge Paragraph <strong>This is in Bold</strong>, consectetur adipiscing elit. <em>This is italic</em> Ut disiuncta sint, quo nihil potest esse perversius. An est aliquid, quod te sua sponte delectet? Verum tamen cum de rebus grandioribus dicas, ipsae res verba rapiunt; Re mihi non aeque satisfacit, et quidem locis pluribus.
// </p>
// <p class="g-type--grey">
//   xlarge Paragraph <strong>This is in Bold</strong>, consectetur adipiscing elit. <em>This is italic</em> Ut disiuncta sint, quo nihil potest esse perversius. An est aliquid, quod te sua sponte delectet? Verum tamen cum de rebus grandioribus dicas, ipsae res verba rapiunt; Re mihi non aeque satisfacit, et quidem locis pluribus.
// </p>
//
// Styleguide 1.6.4

%g-type__core {
  @include font-size($p-font-sizes);
  margin: 0 0 1rem 0;
}

p {
  @extend %g-type__core;
}

%g-type--small,
.g-type--small {
  @include font-size($p--small-font-sizes);
}

%g-type--large,
.g-type--large {
  @include font-size($p--large-font-sizes);
}

%g-type--xlarge,
.g-type--xlarge {
  @include font-size($p--xlarge-font-sizes);
}


@import 'g-type--headline';
