// Buttons
//
// Core Buttons Extendables & Mixins
//
// **Core Extendables:**
//
// <pre>%c-btn--core<pre>
//
// Styleguide 2.1


// Mixins (none)


// Core Extendables
%c-btn--core {
  display: inline-block;
  border-width: 1px;
  border-style: solid;
  border-color: none;
  border-radius: rem(4px);
  text-transform: uppercase;
  text-decoration: none;
}


// Import Variations
@import 'c-btn--default';
@import 'c-btn--icon';
