// Default Buttons
//
// .c-btn - Default
// .c-btn:hover - Default Hover
// .c-btn--blue - Blue
// .c-btn--blue:hover - Blue Hover
// .c-btn--thin - Thin
// .c-btn--thin:hover - Thin Hover
// .c-btn--thin-blue - Thin & Blue
// .c-btn--thin-blue:hover - Thin & Blue Hover
//
// markup:
// <a href="#" class="{$modifiers}">{$modifiers}</a>
//
// Styleguide 2.1.1

////
// Size Varations
////

%c-btn--default-padding {
  padding: ru(0.5) ru(1);
}

%c-btn--narrow-padding {
  padding: ru(0.25) ru(0.75);
}

////
// Color Variations
////
%c-btn--palette-grey {
  border-color: palette(grey, light);
  background-color: $white;
  color: palette(grey);

  &:hover,
  &:focus,
  &:active {
    border-color: palette(grey);
    background-color: palette(grey, xlight);
  }
}

%c-btn--palette-blue {
  border-color: palette(blue, dark);
  background-color: palette(blue);
  color: $white;

  &:hover,
  &:focus,
  &:active {
    border-color: palette(blue, dark);
    background-color: palette(blue, dark);
  }
}


// Button Variations
%c-btn,
.c-btn {
  @extend %c-btn--core;
  @extend %c-btn--default-padding;
  @extend %c-btn--palette-grey;
}

.c-btn--blue {
  @extend %c-btn--core;
  @extend %c-btn--default-padding;
  @extend %c-btn--palette-blue;
}

.c-btn--thin {
  @extend %c-btn--core;
  @extend %c-btn--narrow-padding;
  @extend %c-btn--palette-grey;
}

.c-btn--thin-blue {
  @extend %c-btn--core;
  @extend %c-btn--narrow-padding;
  @extend %c-btn--palette-blue;
}


